
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Bebas+Neue&family=Roboto:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100..400&display=swap');

body {
    font-family: 'Poppins', sans-serif;

    background-image: url('https://wallpapers.com/images/high/real-estate-low-angle-shot-c9wnxm14uva0ydio.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    background-color: rgba(245, 247, 247, 1);
    background-blend-mode: overlay;

    min-height: 100vh;
}
.padding-left {
    padding-left: 10px;
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: #1E3A8A; 
    border-bottom: 1px solid #ddd; 
    height: 60px; 
    width: 100%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px;

}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; 
}
.nav-heading{
    color:#ffffff;
    font-size: 30px;
}
.nav-heading:hover{
    color: white;
}
.navbar-links,

.navbar-actions {
    display: flex;
    gap: 15px;
}

.nav-item {
    text-decoration: none;
    color: #ffffff; 
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item:hover {
    color: #a0c4ff;
}

.navbar-actions .nav-item {
    cursor: pointer;
    background-color: #1E3A8A; 
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.navbar-actions .nav-item:hover {
    background-color: #1E3A8A; 
    color: #ffffff; 
}


/* Card */
.card {
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 570px;
}

.card-image img {
    border-radius: 1rem;
}

/* Listing Detail */
.heading-component {
    text-align: center;
    padding: 16px 0;
    color: #1E3A8A;
}

.link-bar {
    background-color: #1E3A8A;
    text-align: left;
    padding: 8px 12px;
    color: #ffffff;
}

.detail {
    color: #1E3A8A;
}

.image-div figure img {
    border-radius: 8px;
}

/* Buttons for Listing */
.buynow .btn-buynow {
    background-color: #6991fe;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

/* About Section */
h1,
h2,
h5 {
    color: #1E3A8A;
}

/* Subheading */
.subheading-about {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #1E3A8A
}

@media (max-width: 1000px) {
    .subheading-about {
        font-size: 1.5rem;
    }
}

@media (max-width: 850px) {
    .subheading-about {
        font-size: 1.2rem;
    }
}

/* Cards for About */
.top-seller-card,
.other-realtors-card {
    background-color: rgb(248, 245, 245);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 350px;
    height: 600px;
}

.top-seller-card:hover,
.other-realtors-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Buy Page */
.add-border {
    border: 2px solid #1E3A8A;
}

.price-detail-div {
    background-color: #749ac7;
    color: white;
    padding: 10px;
}


